# Tmux alias

alias tnew="tmux new -s" 
alias tn="tnew `hostname`"
alias tres="tmux attach-session -t"
alias tlist="tmux ls"
alias tkill="tmux kill-session -t"
alias tclean="tmux kill-server"

# ls
alias ls="ls -a"
alias ll="ls -latr"
alias l="ll"
alias bb="exit"

# fzf
alias ff="fzf"

# Git
alias gcb="git checkout -b"
alias gs="git status"
alias gc="git cz"

# Vagrant
alias vg="cd $HOME/Vagrant/bionic && vagrant ssh ubuntu"
alias vg-up="cd $HOME/Vagrant/bionic && vagrant up ubuntu"
alias vg-down="cd $HOME/Vagrant/bionic && vagrant halt ubuntu"
alias vg-edit="vim $HOME/Vagrant/bionic/Vagrantfile"
alias vg-reload="vg-down && vg-up"

# Mac OSX
alias code="open -a /Applications/Visual\ Studio\ Code.app"
alias gvim="open -a /Applications/MacVim.app"
alias tunn-start="open -a /Applications/Tunnelblick.app"
alias tunn-kill="~/.dotfiles/.scripts/tunn-kill.sh" 
alias tunn-stats="watch tunnelblickctl status"
alias ts="tunn-stats"
alias kl="sudo keeper login"

# ZSH
alias alias-edit="vim ~/.zsh/.aliases"
alias zsh-reload="source $HOME/.zshrc"

# Scrits
alias sslinfo="~/.dotfiles/.scripts/sslinfo.sh"
alias test_cipher="~/.dotfiles/.scripts/test_cipher.sh"


# Docker utils
alias dl="docker logs -f "
alias dps="docker ps --format \"🐳 [{{.ID}}{{.Image}}]{{.Names}} ⚡{{.Ports}}\""

# Kubernetes utils
alias k="kubectl"
alias ks="kubectx"
